{
  "parser": "babel-eslint",
  "plugins": ["prettier", "flowtype"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "trailingComma": "es5",
        "jsxBracketSameLine": false,
        "parser": "flow"
      }
    ]
  },
  "extends": ["prettier", "plugin:flowtype/recommended"]
}
